# Node.js
/node_modules
/build
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env.*.local

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# OSX
.DS_Store

# Mysql files
*.sql